<!DOCTYPE html>

<html>
  <head>
    <title>RR Productions | We Produce Your Future</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/icon" href="/static/images/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Exo|Josefin+Sans|Raleway" rel="stylesheet">
    <link href="/static/styles.min.css" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>
    <script src="https://www.paypalobjects.com/api/checkout.js" defer></script>
  </head>
  <body>
    <div id="app-container"><%-markup-%></div> 
    <div id="blur"></div>
    <script src="/static/nav-collapse.min.js" defer></script>
    <script src="/static/bundle.js"></script>
  </body>
</html>     
    