body {
    text-align: center;
    color: black;
    margin: 0px;
}
html {
    height: 100%;
    position: relative;
}
#app-container {
    height: 100%;
}

/*Apply blur to background*/
#blur {
    background-image: url("/static/images/background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -o-filter: blur(6px);
    -ms-filter: blur(6px);
    filter: blur(6px);
    position: fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:-4;
    -webkit-box-shadow: inset 0 0 200px #000000;
       -moz-box-shadow: inset 0 0 200px #000000;
            box-shadow: inset 0 0 200px #000000;
    opacity: 0.8;
    transform: scale(1.1)
}
.modal-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.7;
  display: none;
  z-index: 3;
}

/*Home Page Styles: navbar*/
#home-video {
    width: 600px;
    height: 400px;
}
.collapse {
    visibility: hidden;
    display: none;
}
#nav-logo {
    width: 100px;
    height: 50px;
    margin: 0px;
}
#logo {
    float: left;
    position: relative;
    bottom: 20px;
    right: 30px;
}
#home {
    text-decoration: none;
}
.not-logo {
    position: relative;
    right: 170px;
    top: 20px;
}
#added-text {
    font-family: Raleway;
    display: inline;
    color: black;
}
#productions {
    position: relative;
    bottom: 16px;
    right: 24px;
    font-size: 20px;
}
#navbar, ul {
    font-family: "Exo";
    font-weight: bold;
    background-color: lightslategray;
    background-color: white;
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0px;
    box-shadow: 0px 0px 15px black;
    margin: 0px;
    z-index: 2;
}
#navbar {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
#not-nav {
    margin-top: 110px;
    font-family: Exo;
    width: 100%;
    height: 100%;
}
li {
    display: inline;
    margin: 25px;
}
.nav-link {
    color: black;
    text-decoration: none;
    font-size: 20px;
}
.nav-link:hover {
    border-bottom: 6px solid black;
    /*animation-name: underline;
    animation-duration: 0.5s;*/
}

/*Home page: body*/
/*#not-footer {
    margin-top: ;
}*/
#home-container {
    height: 100%;
    padding: 0px;
    margin: 0px;
}
#middle {
    height: 240px;
    margin-bottom: 40px;
}
#home-logo {
    width: 240px;
    height: 240px;
}
#head-logo {
    position: relative;
    /*bottom: 40px;*/
    z-index: -1;
}
#slogan {
    font-family: "Josefin Sans";
    letter-spacing: 6px;
    font-size: 50px;
    margin-top: 15px;
}
#home-productions {
    font-weight: bold;
    z-index: -1;
    font-family: Raleway;
    color: black;
    font-size: 85px;
    position: relative;
    bottom: 90px;
    left: 15px;
    letter-spacing: 8px;
    margin-top: -200px;
    text-shadow: 2px 2px dimgrey;
}
.body {
    background-color: lavenderblush;
    height: 100%;
    position: relative;
    top: 20px;
    padding-bottom: 20px;
    z-index: 1;
}
.footer {
    background-color: black;
    color: white;
    margin: 0 auto;
    /*margin-top: 39px;*/
    position: relative;
    bottom: 0px;
    /*width: 100%;*/
    /*margin-top: 31px;*/
    left: 0px;
    right: 0px;
    height: 30%;
    padding: 0px;
}
.icon {
    width: 30px;
    height: 30px;
    margin: 15px;
    margin-top: -20px;
}
.contact {
    margin-top: -15px;
    margin-bottom: -10px;
}
#credits {
    letter-spacing: 1px;
    margin-top: -3px;
}

/*About Page*/
.about1 {
    width: 800px;
    margin: 0px auto;
    padding: 15px;
    height: 315px;
    font-size: 18px;
    text-align: left;
    background-color: white;
    box-shadow: 0px 0px 10px silver;
}
.not-found {
    float: left;
    border-right: 2px solid black;
    margin: 10px;
    padding: 15px;
}
.team-pic {
    width: 275px;
    height: 275px;
    float: left;
    border-right: 3px solid black;
    margin: 10px;
    padding: 15px;
}

/*Music page styles*/
.loading {
    height: 800px;
}
.youtube {
    width: 800px;
    height: 600px;
}
#list-container {
    width: 800px;
    margin: 0px auto;
    position: relative;
    background-color: white;
    box-shadow: 0px 0px 10px silver;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 50px; 
}
.img-cont {
    width: 250px;
    float: left;
}
.music-cont {
    width: 550px;
    height: 200px;
    margin: 60px auto;
}
.thumb {
    width: 250px;
    height: 150px;
    margin-bottom: -30px;
}
.music-info {
    text-align: left;
    position: relative;
    left: 40px;
    float: left;
}
#return {
    margin-bottom: 10px;
}
.purchase {
    font-family: Exo;
    font-weight: bold;
    width: 250px;
    border: none;
    height: 30px;
    background-color: dodgerblue;
    color: white;
    box-shadow: 2px 2px darkgray;
    position: relative;
    bottom: 20px;
}
.purchase:hover {
    background-color: green;
    cursor: pointer;
}
.purchase:active {
    box-shadow: none;
}
.video-head {
    margin: 5px;
}
.title {
    font-weight: bold;
}
.play-video {
    float: left;
    width: 50px;
    height: 50px;
    position: relative;
    bottom: 85px;
    left: 100px;
}
.play-video:hover {
    cursor: pointer;
}
.youtube {
    position: absolute;
    display: none;
    z-index: 15;
    right: 0px;
    top: 15%;
}
#search-music {
    width: 40%;
    margin-bottom: 40px;
    margin-top: 10px;
    height: 45px;
    border: 1px solid silver;
    padding: 10px;
    box-shadow: 0px 0px 10px silver;
}
#search-button {
    height: 45px;
    border: none;
    margin-top: 3px;
    width: 85px;
    color: white;
    background-color: green;
    box-shadow: 0px 0px 10px silver;
}
#search-button:hover {
    cursor: pointer;
    background-color: darkgreen;
    box-shadow: none;
}
#paypal-button {
    margin-top: 40px;
}

/*Gallery page styles*/
#photo-container, #events-container {
    width: 800px;
    margin: 0px auto;
    position: relative;
    background-color: white;
    box-shadow: 0px 0px 10px silver;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 50px; 
    height: 500px;
}

/*Events page styles*/
#subscribe {
    position: absolute;
    display: none;
    z-index: 100;
    top: 15%;
    width: 45%;
    left: 27%;
    background-color: white;
    box-shadow: 0px 0px 10px black;
    padding: 10px;
}
#modal-body {
    margin-bottom: 20px;
}
#email-form {
    border: 1px solid silver;
    height: 20px;
}
#sub-button, #close {
    margin-top: 20px;
    border: 3px solid black;
    height: 30px;
    width: 80px;
    background-color: white;
    border-radius: 5px;
    font-family: "Exo";
    font-weight: bold;
}
#sub-button:hover, #close:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
#close {
    margin-left: 80%;
    margin-top: 0px;
    width: 30px;
}
#subscribe-heading {
    margin-bottom: 50px;
}
/*Admin*/
.admin-body {
    width: 800px;
    margin: 0px auto;
    background-color: white;
    box-shadow: 0px 0px 10px silver;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 50px; 
    margin-top: 50px;
    position: relative;
    top: 50px;
}
.music-up, #location {
    width: 300px;
    height: 20px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid silver;
}
.update, #login-button, #col-button, #return {
    width: 200px;
    height: 40px;
    margin-top: 20px;
    border: none;
    background-color: white;
    border-radius: 5px;
    font-family: "Exo";
    font-weight: bold;
    border: 3px solid black;
}
.update:hover, #login-button:hover, #col-button:hover, #return:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
#description {
    resize: none;
    width: 300px;
    height: 200px;
}
/*Login*/
.login-form {
    width: 50%;
    position: relative;
    top: 50px;
    margin: 0px auto;
    margin-bottom: 50px;
    height: 500px;
}
#user, #pass {
    margin-bottom: 40px;
    margin-left: 10px;
    width: 300px;
    height: 25px;
    border: 1px solid silver;
    border-radius: 3px;
    padding: 5px;
}
#invalid {
    color: red;
}
/*Media Queries*/
@media screen and (max-width: 1120px) {
    #navbar, ul {
        height: auto;
    }
    .not-logo {
        margin: 10px;
        position: relative;
        top: -10px;
        left: -20px;
    }
    #logo {
        float: none;
        /*position: static;*/
        display: block;
        margin-bottom: 0px;
    }
}
@media screen and (max-width: 960px) {
    #home-productions {
        font-size: 60px;
        bottom: 50px;
    }
    #home-logo {
        width: 200px;
        height: 200px;
        position: relative;
        top: 30px;
    }
    #photo-container, .about1, #events-container, #list-container {
        width: 85%;
    }
    .youtube {
        width: 400px;
        height: 200px;
        right: 100px;
    }
}
@media screen and (max-width: 788px) {
    #email-form {
        width: 95%;
    }
    #home-productions {
        font-size: 50px;
        bottom: 10px;
    }
    #home-logo {
        width: 160px;
        height: 160px;
        top: 60px;
    }
    .about1 {
        margin-bottom: 40px;
        height: auto;
    }
    .not-found {
        width: 150px;
        height: 150px;
    }
}
@media screen and (max-width: 639px) {
    #home-productions {
        display: none;
    }
    #home-logo {
        width: 230px;
        height: 230px;
        top: 30px;
        left: 30px;
    }
    .music-info {
        left: 10px;
    }
    .thumb {
        width: 150px;
        height: 100px;
    }
    .purchase {
        width: 150px;
    }
    .music-cont {
        width: 100%;
        margin: 10px auto;
    }
    .img-cont {
        width: 150px;
    }
    .title {
        font-size: 17px;
    }
    .video-head:not(.title) {
        font-size: 13px;
    }
    .purchase {
        height: 45px;
    }
    .play-video {
        left: 50px;
        top: -50px;
    }
    #search-music {
        width: 75%;
    }
    .youtube {
        right: 30px;
    }
    #home-video {
        width: 95%;
        height: auto;
    }
    #slogan {
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 480px) {
    .youtube {
        width: 250px;
        height: 150px;
    }
}
@media screen and (max-width: 430px) {
    #col-button {
        position: relative;
        right: 15px;
    }
    .nav-link {
        visibility: hidden;
        display: none;
    }
    .nav-link-expand {
        visibility: visible;
        display: initial;
    }
    li {
        display: block;
    }
    #list-container {
        width: 95%;
    }
    #home-logo {
        top: 60px;
    }
}